# Combining Tables and Datasets

In [1]:
import pandas as pd

In [2]:
customers_info = pd.DataFrame({'CustomerID':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                               'Gender':['Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', \
                                         'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', \
                                         'Male', 'Male', 'Female', 'Male', 'Male','Female'],
                               'Age':[19,21,20,23,31,22,35,23,50,30,67,35,58,24,37,22,35,20,52,23],
                               'Annual_Income':[15,15,16,16,17,17,18,18,19,19,19,19,20,20,20,20,21,21,23,17]})

In [3]:
customers_score = pd.DataFrame({'CustomerID':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                               'Spending_Score':[39,81,6,77,40,76,6,94,3,72,14,14,15,77,14,79,35,35,29,50]})

#### Both datasets are from  the  same source and they share a common column `CustomerID`
* The datasets can be combined by `pandas.merge` function

In [4]:
customer_data = pd.merge(customers_info,
                 customers_score[['CustomerID', 'Spending_Score']],
                 on='CustomerID')

In [5]:
customer_data.head()

   CustomerID  Gender  Age  Annual_Income  Spending_Score
0           1    Male   19             15              39
1           2    Male   21             15              81
2           3  Female   20             16               6
3           4  Female   23             16              77
4           5  Female   31             17              40